       .titre1{
        background-color: #E0D4C9;
        color: #5F3116;
      }
      
       .titre2{
        background-color: #E0D4C9;
        color: #8E471D;
      }     
      
       .main_font{
        background-color: #E0D4C9;
        color: black;
      }  
      
      .earth {
        background-color: #E0D4C9;
        color: #5c8989;
      } 
      
      .button_c {
        background-color: #433228;
        color: white;
        border-color : #E0D4C9
      }       
      
      .button_earth {
        background-color: #5c8989;
        color: white;
        border-color : #E0D4C9
      } 
      
      .display_earth {
        background-color: #E0D4C9;
        color:#5c8989;
        border-color : black
       
      }      
      
      .display_mars {
        background-color:#E0D4C9 ;
        color: #8E471D;
        border-color : black
      }       
            
      .dark1 {
        background-color: black;
        color: #DCAB81;
      }
      
      .dark2 {
        background-color: black;
        color: #F1CEB0;
      }  
       .main_dark{
      
        background-color: black;
        color: white;
      }     
      
      .dark_earth {
        background-color: black;
        color: #b1c6c6;
      }        

      .button_dark {
        background-color: #C99C73;
        color: black;
        border-color : black
      }
      
      .button_earth_dark {
        background-color: #b1c6c6;
        color: black;
        border-color : black

      }

      .display_earth_dark {
        background-color: black;
        color:#b1c6c6;
        border-color : white

      }      
      
      .display_mars_dark {
        background-color: black;
        color: #DCAB81;
        border-color : white

      }	
	
      
